/* resume */
.resume {
  min-height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  border: 10px rgb(148, 215, 232) solid;
}

/* reponsive web design: devive < 800px => 1 column for left & right side */
@media only screen and (max-width: 800px) {
  .resume--RWD-800px {
    flex-direction: column;
  }
}

.resume__left-side {
  margin: 10;
  flex: 3;
  width: 100%;
  background-color: var(--color-indigo);
}
/* end reponsive web design: devive < 800px => 1 column for left & right side */

/* grid template */
.about {
  grid-area: about;
}

.knowledge-left-side {
  grid-area: knowledge-left;
}

.knowledge-right-side {
  grid-area: knowledge-right;
}

.education-left-side {
  grid-area: education-left;
}

.education-right-side {
  grid-area: education-right;
}

.experience-left-side {
  grid-area: experience-left;
}

.experience-right-side {
  grid-area: experience-right;
}
/* end grid template */

.resume__right-side {
  flex: 5;
  display: grid;
  grid-auto-columns: 50%;
  grid-template-areas:
    'about about'
    'knowledge-left knowledge-right'
    'education-left education-right'
    'experience-left experience-right';
}

.section {
  margin: 20px 10px 0px 10px;
}

.section:last-child {
  margin: 20px 10px 20px 10px;
}

/* reponsive web design: devive < 600px => 1 column for left & right side */
@media only screen and (max-width: 600px) {
  .resume__right-side--RWD-600px {
    grid-auto-columns: 100%;
    grid-template-areas:
      'about'
      'knowledge-left'
      'knowledge-right'
      'education-left'
      'education-right'
      'experience-left'
      'experience-right';
  }

  .section--top-margin-0,
  .resume__right-side .section:last-child {
    margin-top: 0px;
  }
}
/* end reponsive web design: devive < 600px => 1 column for left & right side */

.resume--text-white {
  color: white;
}

.resume--text-center {
  text-align: center;
}

.section__head1 {
  font-size: 2.5rem;
  margin: 5px;
}

.section__head2 {
  font-size: 1.8rem;
  margin: 5px;
}

.section__para,
.section__list {
  list-style-position: inside;
  font-size: 1.5rem;
  margin: 5px;
}

.section__list--anchor:link,
.section__list--anchor:visited {
  color: white;
  text-decoration: none;
}

.section__list--anchor:hover {
  color: var(--color-pink);
}

.section__list--type-none {
  list-style-type: none;
}

.section__list--type-square {
  list-style-type: square;
}

.section__img-cover {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: black solid 2px;
  overflow: hidden;
}

.section__img-cover:hover {
  cursor: pointer;
}

.section__img-cover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(0%, -10%);
}

.section__network {
  display: inline;
  position: relative;
}

.section__network__img {
  max-width: 40px;
  max-height: 40px;
  margin-right: 20px;
  margin-left: 5px;
}

.section__network__img:hover {
  cursor: pointer;
}

.section__tooltip {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  visibility: hidden;
  display: inline;
  position: absolute;
  left: 0;
  top: 100%;
}

.section__network:hover .section__tooltip {
  visibility: visible;
}

/* pop-up */
.pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  visibility: hidden;
  z-index: 1;
}

.pop-up__frame {
  width: 60%;
  height: 80%;
  position: absolute;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 1.5rem;
  transition: left 1s, opacity 1.5s;
}

.pop-up__view {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1% auto;
}

.pop-up__view__img {
  height: 100%;
  border: white solid 2px;
  border-radius: 2%;
}

.pop-up__view__control-btn {
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 20%;
  transition: transform 0.5s, color 0.5s;
}

.pop-up__view__control-btn:hover {
  cursor: pointer;
  color: var(--color-pink);
  transform: scale(var(--scalef));
}

.pop-up__view__control-btn:active {
  color: black;
}

.pop-up__view__control-btn--prev,
.pop-up__view__control-btn--forw {
  width: 4rem;
  text-align: center;
  margin: 0 5%;
}

.pop-up__view__control-btn--close {
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 0 50% 0 50%;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  text-align: center;
  font-size: 2rem;
}

.pop-up__selection {
  width: 100%;
  height: 30%;
  display: flex;
  margin: 2% auto;
}

.pop-up__selection__img-cover {
  width: 15%;
  height: auto;
  border: white solid 2px;
  overflow: hidden;
  border-radius: 3%;
  transition: transform 0.5s;
}

.pop-up__selection__img-cover:hover {
  cursor: pointer;
  transform: scale(var(--scalef));
}

.pop-up__selection__img-cover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end pop-up */
/* end resume */

/* interest */
.interest {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.interest__icon {
  font-size: 15rem;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 20rem;
  margin: 0 5%;
  transition: transform 0.5s;
}

.interest__icon:hover {
  cursor: pointer;
  transform: scale(var(--scalef));
}

.interest__icon__img {
  width: 80%;
  height: 80%;
}

.interest2__description {
  max-height: 10%;
  margin: 3rem;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.interest2__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  margin: 1%;
  height: 78%;
}

.interest2__gallery__cover {
  max-width: 45%;
  height: fit-content;
  border: white solid 2px;
  overflow: hidden;
  border-radius: 0%;
  margin: 1%;
}

@media only screen and (max-width: 800px) {
  .interest2__gallery__cover--RWD-800px {
    max-width: 90%;
  }
  .interest2__description--RWD-800px {
    font-size: 1.7rem;
    margin-top: 2rem;
  }
}

.interest2__gallery__cover__img {
  max-width: 100%;
  max-height: 100%;
}

.interest3__ytb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
}

.interest3__ytb__videos {
  height: 100%;
  width: auto;
  margin: 0;
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.interest3__ytb__videos__no {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 1rem;
}

.interest3__ytb__videos__frame {
  width: 100%;
  height: 90%;
  border: white solid 2px;
  border-radius: 2%;
  flex-grow: 0;
  margin-bottom: 1rem;
}
/* end interest */

/* contact */
.contact {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, #5761B2, #1FC5A8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact__text {
  background-color: rgba(255, 255, 255, 0.3);
  border: black solid 5px;
  border-radius: 1.5rem;
  width: 25rem;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.contact__frame {
  background-color: rgba(255, 255, 255, 0.3);
  border: black solid 5px;
  border-radius: 1.5rem;
  min-width: 50%;
  min-height: 50vh;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.contact__frame__text {
  font-size: 3rem;
  text-align: center;
}

.contact__frame__text--right {
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 40rem;
  min-height: 5rem;
  line-height: 5rem;
  border-radius: 1.5rem;
}
/* end contact */

/* navigator */
.navigator {
  position: fixed;
  top: 0px;
  right: 10px;
}

.navigator__icon {
  font-size: 3rem;
  width: fit-content;
  margin-right: 0;
  transition: transform 0.25s linear;
}

.navigator__icon:hover {
  cursor: pointer;
}

.navigator__menu {
  overflow: hidden;
  max-height: 0px;
  transition: max-height 0.25s linear;
}

.navigator__menu__text {
  font-size: 2rem;
  list-style-position: inside;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.2);
  border: black solid 3px;
  border-bottom: 0px;
  padding: 10px;
  min-width: 5vw;
  text-align: center;
}

.navigator__menu__text:last-child {
  border-bottom: black solid 3px;
}

.navigator__menu__text--anchor {
  text-decoration: none;
  color: black;
}

.navigator__menu__text:hover,
.navigator__menu__text:hover .navigator__menu__text--anchor,
.navigator__menu__text--active {
  background-color: var(--color-indigo);
  color: var(--color-pink);
  transition: color 0.25s;
}
/* end navigator */

/* disable text selection */
.disable-text-selection {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
/* end: disable text selection */